{:paths   ["src"]
 :version "1.0.2"
 :deps    {org.clojure/clojurescript {:mvn/version "1.11.4"}
           org.clojure/core.async    {:mvn/version "1.5.648"}}
 :aliases {:build  {:deps       {io.github.clojure/tools.build {:git/tag "v0.7.2"
                                                                :git/sha "0361dde"}}
                    :ns-default build}
           
           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
                    :exec-fn    deps-deploy.deps-deploy/deploy
                    :exec-args  {:installer :remote
                                 :artifact  "target/indexed.db.jar"
                                 :pom-file  "target/classes/META-INF/maven/com.github.brianium/indexed.db/pom.xml"}}
           
           :dev    {:extra-paths ["dev" "test"]
                    :extra-deps  {org.clojure/test.check        {:mvn/version "1.1.1"}
                                  com.bhauman/cljs-test-display {:mvn/version "0.1.1"}}}
           
           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
                    :main-opts  ["-m" "cljfmt.main"]}}}
